canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  .theBall, .theBall-outer {
    mix-blend-mode: exclusion;
    width: 50px;
    height: 50px;
  }
  .theBall-outer {
    position: fixed;
    top: -20px;
    left: -20px;
    z-index: 5000;
    pointer-events: none!important;
  }
  .theBall {
    position: absolute;
    background-color: #f50;
    border-radius: 50%;
    -webkit-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
    -moz-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
    -ms-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
    -o-transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
    transition:  transform .2s cubic-bezier(.175,.885,.32,1.275);
    transform-origin: center center;
  }
  .dark_page .theBall,
  .coloring .theBall {
    background-color: #5cffbb;
  }
  .zooming.theBall {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
  ::selection {
      background-color: #5cffbb;
      color: #fff;
  }
  
  a.test {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }

  * {
    cursor: none;
  }